*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* #61D095: mau xanh nhat */
    --header-backgroundcolor: rgba(230, 70, 70, 1);
    --header-textcolor: #fff;
    --header-cartext: #2a2e4b;
    --hover-btn: rgba(230, 70, 70, 0.8);
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

textarea  
{  
    font-family: Arial, Helvetica, sans-serif;
}

/* Common */
.f-right{
    float: right;
}

.d-inblock{
    display: inline-block;
}

.ptb-8{
    padding-top: 8px;
    padding-bottom: 8px;
}
.ptb-12{
    padding-top: 12px;
    padding-bottom: 12px;
}

.ptb-32{
    padding-top: 32px;
    padding-bottom: 32px;
}

.ptb-64{
    padding-top: 64px;
    padding-bottom: 64px;
}

.pt-64{
    padding-top: 64px;
}

.pb-32{
    padding-bottom: 32px;
}

.mtb-8{
    margin-top: 8px;
    margin-bottom: 8px;
}

.mtb-16{
    margin-top: 16px;
    margin-bottom: 16px;
}

.mtb-32{
    margin-top: 32px;
    margin-bottom: 32px;
}
/* Main */
#main{
    overflow: hidden;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--header-backgroundcolor);
    z-index: 1;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
}

#header .left-nav{
    margin-left: 20px;
}

.left-nav a{
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    font-size: 50px;
    color: var(--header-cartext);
    line-height: 60px;
}

#nav{
}

#nav .nav-header__menu{
    font-size: 15px;
    padding: 0 5px;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: var(--header-textcolor);
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    display: block;
    padding: 12px;
}

#nav > li:hover > a{
    color: #fff;
    background-color: #2a2e4b;
    border-radius: 4px;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav li:hover a{
    color: #fff;
    background-color: #2a2e4b;
}

#nav .subnav a{
    padding: 0 12px;
    color: var(--header-textcolor);
    line-height: 38px;
}

#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--header-backgroundcolor);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    min-width: 160px;
}

#header .right-nav{
    margin-right: 20px;
}

#header .right-nav__ic{
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 15px;
}

.right-nav .vertical-line{
    border: 1px solid #eee;
    cursor: none;
    opacity: 0.6;
    height: 25px;
    margin: 0 10px;
}

#slider{
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;
    padding-top: 40%;
    margin-top: 60px;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    text-align: left;
    top: 50%;
    transform: translateY(-60%);
    margin-left: 50px;
    line-height: 1.5;
}

#slider .text-heading{
    font-size: 50px;
    font-weight: 500;
}

#slider .text-description{
    font-size: 18px;
}

#slider .slider-buy-btn{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #e64646;
    display: inline-block;
    outline: none;
    border: none;
    padding: 12px 16px;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 15px;
}

#slider .slider-buy-btn:hover{
    background-color: var(--hover-btn);
    transition: opacity .2s ease;
    cursor: pointer;
}

#slider .slider-buy-icon{
    font-size: 15px;
}

#content{
    margin-top: 32px;
}

#content .content-header__left,
#content .content-header__right{
    margin-top: 26px;
}

#content .content-header__right{
    transform: rotate(-180deg);
}

#content .line,
#content .line-full{
    border-top: 1px solid #000;
    margin-bottom: 16px;
}

#content .line{
    width: 50%;
    transform: translateX(100%);
}

#content .content-header__centered{
    position: relative;
    text-align: center;
}

#content .content-header__centered img{
    max-width: 100%;
    max-height: 100%;
}

#content .content-header__centered h2{
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#content .content-header__centered i{
    margin: 0px 12px;
}

#content .content-body{
    margin: 32px 0;
}

#content .content-body img{
    display: block;
    width: 100%;
}

#content .content-body .list-item{
    text-align: center;
}

#content .list-item .list-details{
    transform: translateY(5px);
}

#content .list-details .list-details__btn{
    background-color: var(--header-backgroundcolor);
    color: var(--header-textcolor);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    padding: 12px 24px;
}

#content .list-details .list-details__btn:hover{
    background-color: var(--hover-btn);
    transition: opacity .2s ease;
}

#content .content-ads{
    text-align: center;
    margin-top: 64px;
}

#content .content-ads .ads-right,
#content .content-ads .ads-left{
    display: flex;
    width: 100%;
    height: 400px;
    max-width: 100%;
    max-height: 400px;
}

#content .content-ads .ads-left{
    background: linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
                url('../img/content/ads/ads1.jfif') center center / cover no-repeat;
}

#content .content-ads .ads-right{
    background: linear-gradient(to left, rgba(247, 169, 168, 0.52), rgba(97, 63, 117, 0.73)),
                url('../img/content/ads/ads2.jfif') center center / cover no-repeat;
}

#content .content-ads .ads__desc{
    margin: auto;
    color: wheat;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000000;
    line-height: 1.5;
}

#content .ads__desc button{
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin-top: 16px;
    padding: 12px 24px;
    border-radius: 10px;
    background-color: var(--header-backgroundcolor);
}

#content .ads__desc button:hover{
    background-color: var(--hover-btn);
    transition: opacity .2s ease;
}

#content .ads__desc i{
    margin-left: 8px;
}

#content  .news-container{
    text-align: justify;
    border-radius: 15px;
    background-color: beige;
    box-shadow: 0 0 5px #000;
    font-size: 16px;
    line-height: 1.5;
}

#content  .news-container img{
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}   

#content .news-container__desc{
    display: inline-block;
    padding: 20px 16px;
}

#content .news-container__desc h4{
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px;
}

#content .news-container__desc p{
    font-style: italic;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 400;
    margin: 8px 0;
}

#content .news-container__desc a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
}

#content .news-container__desc i{
    margin-left: 5px;
    color: var(--header-backgroundcolor);
}

#content .news-container__desc a:hover{
    opacity: 0.8;
    cursor: pointer;
}

#content .content-contact{
    background: linear-gradient(to left, rgba(247, 169, 168, 0.52), rgba(97, 63, 117, 0.73)),
                url('../img/content/contact/CE.jpg') top center / cover no-repeat;
    width: 100%;
    height: 550px;
}

#content .content-contact .contact-header{
    color: #fff;
    margin-top: 36px;
    text-shadow: 1px 1px 1px #000000;
}

#content .content-contact .content-contact__details{
    margin: 0 48px;
}

#content .content-contact input[type=text], input[type=email], input[type=number], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#content input, textarea::placeholder{
    font-style: italic;
}

#content .content-contact input[type=submit] {
    background-color: var(--header-backgroundcolor);
    color: white;
    padding: 12px 120px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-style: normal;
}
  
#content .content-contact input[type=submit]:hover {
    background-color: var(--hover-btn);
  }

#footer{
    background-color: var(--header-backgroundcolor);
    color: #fff;
    height: 400px;
}

#footer .about{
    line-height: 1.8;
    margin-top: 32px;
}

#footer .about--ml{
    margin-left: 30px;
}

#footer .details-ic i{
    margin: 12px 12px 0 0;
    width: 30px;
    font-size: 30px;
    display: inline-block;
    color: #fff;
}

#footer .u-img--circle{
    margin: 0 9em;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    background: url('../img/footer/u-image.jpg') center / cover no-repeat;
}

#footer .u-desc{
    text-align: center;
}